---
author: Pete
date: 2022-11-17
---
<!doctype html>
<html lang="en">
  {% include head.html %}
  <style>
    main {
      margin-top: 164px;
    }
  </style>
  <body>
    {% include header_nav.html %}
    <main>
      <div class="container">
        {% if post %}
          <h1>Title: {{ post.title }}</h1>
          <b>Categories: {{ post.categories }}</b>
        {% endif %}
        {{ content }}
      </div>
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2022 {{ site.name }} &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>
  </body>
</html>
