<!doctype html>
<html lang="en">
  {% include head.html %}
  <style>
    main {
      margin-top: 100px;
    }
  </style>
  <body>
    {% include header_nav.html %}
    <main>
      <div class="container">
        {{ content }}
      </div>
      <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2022 {{ site.name }} &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>
    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
  </body>
</html>
